#info-window-container {
    position: absolute;
  
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  
    background: rgba(0,0,0,0.5);
  
    z-index: -1;
    opacity: 0;
    overflow: hidden;
  
    transition: opacity 0.2s ease-out;
}
#info-window {
    width: 400px;
    height: 500px;
  
    background: white;
    color: #111122;
  
    position: absolute;
    
    top: 50%;
    left:50%;
    margin-top: -250px;
    margin-left: -200px;
  
    box-shadow: 2px 3px 2px rgba(0,0,0,0.2);
  
    border-radius: 5px 20px;
  
    padding: 20px;
    box-sizing: border-box;
}
#info-window h2 {
    margin: 0px;
  
    font-size: 1.5em;
    font-weight: bold;
}

.hint-section {
    height: 60px;
    width: 100%;   
    margin-top: 20px;
}
.hint-text {
    padding: 10px;
    height: 60px;
    padding-left: 70px;
    box-sizing: border-box;
}

#hint-image-tradeable-sunday {
    width: 60px;
    height: 60px;

    background-color: #0be881;
    float: left;
  
    border-radius: 5px 15px;
}
#hint-image-tradeoff-sunday {
    width: 60px;
    height: 60px;

    background-color: #ff6348;
    float: left;
  
    border-radius: 5px 15px;
}
#hint-image-tradeoff-holiday-border {
    width: 56px;
    height: 56px;

    background-color: white;
    border: 2px rgba(0,0,0,0.3) dashed;

    float: left;
  
    border-radius: 5px 15px;
}
#hint-image-tradeoff-holiday-center {
    width: 50px;
    height: 50px;
  
    background: #ff6348;
  
    margin-left: 3px;
    margin-top: 3px;
  
    border-radius: 4px 12px;
}

#info-window-close-button {
    width: 200px;
    height: 40px;
  
    background: white;
    color: #ff6348;
  
    position: absolute;
    
    top: 50%;
    left:50%;
    margin-top: 260px;
    margin-left: -100px;
  
    box-shadow: 2px 3px 2px rgba(0,0,0,0.2);
  
    border-radius: 5px 20px;
    box-sizing: border-box;
  
    line-height: 40px;
    text-align: center;
    font-weight: bold;
  
    cursor: pointer;
}
#info-window-close-button:hover {
    background: #f3f3ff;
}
#otherInfo {
    margin-top: 20px;
}
#footer {
    margin-top: 10px;
    height: 50px;
    padding-top: 18px;
    font-size: 0.8em;
    text-align: center;
  
    background: #ddddff;
    margin-left: -20px;
    margin-right: -20px;
  
    border-radius: 0px 0px 10px 10px;
}
@media only screen and (max-width: 420px) , only screen and (max-height: 580px) {
    #info-window {
        width: 300px;
        height: 360px;

        margin-top: -200px;
        margin-left: -150px;

        box-shadow: 2px 3px 2px rgba(0,0,0,0.2);

        border-radius: 4px 16px;

        padding: 15px;
        box-sizing: border-box;
    }
    #info-window h2 {
        font-size: 1.2em;
    }
    #hint-image-tradeable-sunday {
        width: 50px;
        height: 50px;
        border-radius: 4px 14px;
    }
    #hint-image-tradeoff-sunday {
        width: 50px;
        height: 50px;
        border-radius: 4px 14px;
    }
    #hint-image-tradeoff-holiday-border {
        width: 46px;
        height: 46px;
        border-radius: 5px 15px;
    }
    #hint-image-tradeoff-holiday-center {
        width: 40px;
        height: 40px;
        border-radius: 4px 12px;
    }
    .hint-section {
        font-size: 0.7em;
        height: 50px;
        margin-top: 10px;
    }
    .hint-text {
        padding: 10px;
        height: 50px;
        padding-left: 60px;
        box-sizing: border-box;
    }
    #otherInfo {
        font-size: 0.7em;
    }
    #footer {
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 20px;
      
        padding-top: 10px;
        height: 40px;
          
        font-size: 0.7em;
    }
    #info-window-close-button {
        margin-top: 180px;
    }
}