body, html {
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
}
a{
    text-decoration: none;
    color: #192a56;
}
a:hover {
    color: #273c75;
}
h3 {
    color: rgba(20,20,40,0.9);
}
h4 {
    color: rgba(20,20,40,0.8);
}

#topbar {
    width: 100%;
    height: 50px;
    min-width: 320px;
    line-height: 50px;

    background-color: white;

    padding-left: 20px;
    padding-right: 20px;

    box-shadow: 0px 3px 0px rgba(0,0,0,0.2);

    font-size: 1.2em;
    font-weight: 900;

    color: #111122;

    position: fixed;

    z-index: 99;

    box-sizing: border-box;
}

#page-container {
    width: 100%;
    height: 100%;

    min-width:320px;

    padding-top: 50px;
    padding-bottom: 130px;

    box-sizing: border-box;

    overflow: hidden;

    position: relative;

    background-color: #ff9f43;
    transition: background-color 300ms ease-out;
}

.page-content {
    width: 100%;
    max-width: 1280px;

    margin: auto;

    overflow: hidden;
    position: absolute;

    padding: 10px 20px;

    box-sizing: border-box;

    text-align:center;

}


/* Page content states */

.current {
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.right {
    top: 50px;
    left: 100%;
    bottom: 0;
    right: -100%;
    transition: 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.left {
    top: 50px;
    left: -100%;
    bottom: 0;
    right: 100%;
    transition: 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hidden {
    z-index: -1;
}

.content-container {
    margin: auto;
    width:80%;
 
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.page-content-month-name {
    color: #222233;
    text-align: center;
    
    font-size: 2em;
    font-weight: bold;
    
    padding-bottom: 15px;
}

.page-content-days-table {
    width: 100%;
    text-align: center;

    font-size: 2em;
    font-weight: bold;
}
.page-content-days-table td {
    background-color: #fff;

    width: 70px;
    height: 70px;

    line-height: 70px;

    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;

    border-radius: 5px 15px;

    display: inline-block;
    box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
}

.day-square {
    width: 120px;
    height: 120px;

    line-height: 120px;
    text-align: center;

    border-radius: 10px 40px;

    background-color: white;
    color: white;

    box-shadow: 0px 4px 0px rgba(0,0,0,0.2);

    overflow: hidden;

    font-weight: 900;
    font-size: 3em;

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;

    display:inline-block; 
}

.day-square-avaible {
    background-color: #2ed573;

}
.day-square-closed {
    background-color: #ff6348;
}

.day-square:hover {
    cursor: pointer;
}


/* Arrows */

.arrow {
    position: absolute;

    top: 50%;
    margin-top: 0px;

    width: 50px;
    z-index: 10;
    
    overflow: auto;
    cursor: pointer;

    transition: all 0.1s ease-out;
    filter: brightness(100%);

   outline: none;
    -webkit-tap-highlight-color: transparent;
}

.arrow:hover {
    transition: 0.1s ease-out;
    margin-top: 2px;
}
.arrow:active {
    transition: 0.1s ease-out;
    margin-top: 4px;
}

.arrowShadow {
    position: absolute;

    top: 50%;
    margin-top: 0px;

    width: 50px;
    z-index: 10;
 
}

#arrowLeft {
    left: 20px;    
}
#arrowLeftShadow {
    left: 20px;
    padding-top: 4px;
    opacity: 0.2;
    z-index: 9;
    filter: brightness(10%);
}

#arrowRight {
    right: 20px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#arrowRightShadow {
    right: 20px;
    padding-top: 4px;   
    opacity: 0.2;
    z-index: 9;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: brightness(10%);
}


.arrowDeactivated {
    filter: brightness(60%);
    transition: all 1s ease;
}
.arrowDeactivated {
    cursor: default !important;
    margin-top: 0px !important;
}


@media only screen and (max-width: 600px) , only screen and (max-height: 400px) {
    .day-square {
        width: 80px;
        height: 80px;

        margin-bottom: 14px;
        margin-left: 7px;
        margin-right: 7px;

        border-radius: 5px 20px;

        font-size: 2em;
        line-height: 80px;
    }

    .arrow {
        top: auto;
        bottom: 20px;
    }
    .arrowShadow {
        top: auto;
        bottom: 16px;
    }

    .arrow:hover {
        transition: 0.1s ease-out;
        bottom: 18px;
    }
    .arrow:active {
        transition: 0.1s ease-out;
        bottom: 16px;
    }

    .page-content-month-name {
        font-size: 1.5em;
        font-weight: bold;
        padding-bottom: 10px;
    }
}